.app {
  height: 100%;
  user-select: none;
  color: #000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  height: 90%; /* more visually pleasing vertical midpoint  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phrase {
  font-size: 10vmin;
  width: 100%;
  text-align: center;
  padding: 4vmin;
}

button {
  font-family: inherit;
  border-radius: 999px;
  font-weight: 600;
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: 0.2s;
  font-size: 10vmin;
  padding: 2vmin 4vmin;
  color: #000;
}

button.ghostIcon {
  background: none;
}

button:hover {
  background-color: #ddd;
}

button:active {
  transform: scale(0.9);
}
