.app {
  height: 100%;
  user-select: none;
  color: #000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phrase {
  font-size: 10vmin;
  width: 100%;
  text-align: center;
  padding: 4vmin;
}

button {
  font-family: inherit;
  border-radius: 999px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  transition: 300ms;
  font-size: 10vmin;
  padding: 2vmin 5vmin;
  color: #000;
}

button:active {
  transform: scale(0.9);
}

button.ghost {
  background: none;
}

@media (hover: hover) {
  button:hover {
    background-color: #ddd;
  }
  button.ghost:hover {
    background-color: #eee;
  }
}

.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms;
}