.app {
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  height: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button {
  font-size: 12vmin;
  border-radius: 4vmin;
  border-style: none;
  background: darkgrey;
  width: 20vmin;
  height: 20vmin;
  margin: 2vmin;
  outline: none;
}

button:active {
  background: grey;
  transform: scale3d(0.9, 0.9, 0.9);
  transition: all 0.1s;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align-last:center;
}

.phrase {
  font-size: 11vw;
  padding: 2vw;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  margin: auto;
}

.bouncy-enter-active {
  animation: bounceIn 0.5s;
}
.bouncy-exit-active {
  animation: zoomOut 0.3s;
}